[init]
	defaultBranch = master
[user]
	name = chengongliang
	email = chengongliang7@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
