    layout {
        gaps 8 // Gap between windows
        center-focused-column "never" // Don’t auto-center focused column

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        // 聚焦窗口边框宽度（默认 4，调成 2 更细）
        focus-ring {
            width 2
        }

        // Tabbed 窗口标签指示条（Mod+W 切换列 tabbed 显示）
        tab-indicator {
            hide-when-single-tab
            place-within-column
            gap 4
            width 4
            gaps-between-tabs 2
            corner-radius 8
        }

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }

        struts {}
    }
